<header>
	<div class="row">
		<!-- Logotipo -->
		<div class="col-md-2"><%= link_to (image_tag 'rails.png', :size=>'100x100', :alt=>'logo'), root_path, :id => 'logo' %></div>
		<!-- Menú de navegación -->
		<div class="col-md-7 col-md-offset-1">
			<%= menu_navegacion({'Inicio'=>index_path, '¿Quiénes Somos?'=>quienes_path, 'Servicios'=>home_servicios_path, 'Contacto'=>home_contacto_path, 'Localizacion'=>home_localizacion_path }).html_safe %>
		</div>
		<!-- Fin de la navegación -->
	</div>
</header>