<div class="row jumbotron espacio">
	<div class="col-md-6">
		  <h2>Curso Ruby on Rails</h2>
		  <p>By Antonio José</p>
		  <p><%= boton 'Entrar', index_path, 'btn btn-primary btn-lg' %></p>
		  <p><%= boton 'Fuera', quienes_path, 'btn' %></p>
	</div>
	<div class="col-md-5 col-md-offset-1">
		<%= mostrar_imagen 'picture.png', '300x300' %>
	</div>
</div>
